.order-info-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .order-title {
    color: blue;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .order-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .order-item:last-child {
    border-bottom: none;
  }